.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

body {
  background-image: url(../src/assets/bg.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.Home{
  width: 100%;
  height: 100vh;
}

.navBar{
  width:100%;
  height: 95px;
}

.navBarComponent{
  margin-left: -100px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center; 
  justify-content: center;
  justify-items: center;
}

.navBarLogo{
  z-index: +1;
  vertical-align: middle;
  width: 120px;
}

.bgTextLogo{
  width: 100%;
  margin-top: 10px !important;
}

.Footer{
  position: absolute;
  width: 100%;
  bottom: 50px;
}

.connectBtn{
  cursor: pointer !important;
}

.sliderDiv{
  width: 100%;
}

@font-face {
  font-family: myFont;
  src: url(./font/MokotoGlitch.ttf);
}

